<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    </head>
    <body>
        

        <div class="ui container">
                <h1>Sign Up Form</h1>
                <form class="ui form" action="/register" method="POST">
                    <div class="field">
                      <label>User Name</label>
                      <input type="text" name="username" placeholder="username">
                    </div>
                    <div class="field">
                      <label>Password</label>
                      <input type="password" name="password" placeholder="password">
                    </div>
                    <div class="field">
                            <label>Full Name</label>
                            <input type="text" name="fullname" placeholder="full name">
                    </div>
                    <div class="field">
                            <label>Phone Number</label>
                            <input type="number" name="phoneno" placeholder="phone number">
                    </div>
                    <div class="field">
                            <label>Date of Birth</label>
                            <input type="date" name="date">
                    </div>
                    <button class="ui button" type="submit">Submit</button>
                </form>
        </div>
        <script src="" async defer></script>
    </body>
</html>
